<div class="row">
    <div class="container" >
        <div id="logo" >
            <img src="../../../assets/APLogo.png" id="logoAP">

        </div>
        <div id="redes">
            

                <a href="https://www.facebook.com/Sofia.M.Arancibia"> <img src="../../../assets/facebook.png" alt=""> </a>
                <a href="https://github.com/sofiamarancibia"> <img src="../../../assets/github.png" alt=""> </a>
                <a href="https://www.instagram.com/sofiam.arancibia/"> <img src="../../../assets/instagram.png" alt=""> </a>
                <a href="https://www.linkedin.com/in/sofia-arancibia-00b312237/"> <img src="../../../assets/linkedin.png" alt=""> </a>
                <a href="https://twitter.com/SofiaAr02520847"> <img src="../../../assets/twitter.png" alt=""> </a>
                <button type="button" class="btn btn-danger" (click)="login()" *ngIf="!isLogged()">INGRESO</button>
                <button type="button" class="btn btn-danger" (click)="onLogOut()">Cerrar Session</button>
                
        </div>

    </div>


</div>

