.container{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    gap:10px;

}
#logoAP{

    width: 150px;

}
img{
    width: 30px;
    padding-right: 5px;
}
.btn{
    margin-left: 30px;
}

a:hover
{
    cursor:pointer;

}
a img:hover{
    width: 60px;
}




#redes{

    align-content: center;
    margin-right: 90px;
    text-align: right;
    margin-top: -5%;
}