
<div class="row">
<h2> HARD & SOFT SKILLS</h2>
<br>
<br>
<br>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>HTLM</h4>
        <circle-progress
          [percent]="95"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="HTLM"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Javascript</h4>
        <circle-progress
          [percent]="85"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="Javascritpt"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>C++</h4>
        <circle-progress
          [percent]="80"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="C++"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>C#</h4>
        <circle-progress
          [percent]="100"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="C#"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>SQL</h4>
        <circle-progress
          [percent]="95"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="SQL"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Ingles</h4>
        <circle-progress
          [percent]="75"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="Ingles"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Perseverancia</h4>
        <circle-progress
          [percent]="100"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="Perseverancia"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Trabajo en Equipo</h4>
        <circle-progress
          [percent]="100"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="Trabajo en Equipo"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h4>Confianza en comunicar</h4>
        <circle-progress
          [percent]="100"
          [radius]="100"
          imageSrc="'../assets/htlm.png'"
          title="'Confianza en comunicar'"
          [showTitle] ="true"
          [showImage]="true"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'rgb(107, 101, 101)'"
          [innerStrokeColor]="'rgb(175, 86, 99)'"
          [animation]="true"
          [animationDuration]="300"
        ></circle-progress>

    </div>

</div>
