.row {
    padding: 20px;
    
}

div{
background-color:rosybrown;

}

h1,h3 {
    display: inline;
}

h2{
    font-weight: bolder;
    font-size: 40px;
    color: rgb(107, 101, 101);
    text-align: center;
}

p{
    font-size: 20px;
}