<div class="row">
    <h2>
        EDUCACION
    </h2>
    
    <div class="col-lg-1" ></div>
    <div class="col-lg-11" ></div>
    
    <br>
    <br>
    <br>
    <br>
       
        <ul>
            <li>
               <h3>Titulo Secundario - Escuela y Liceo Vocacional Sarmiento -  </h3> -<h3> (2006-2011) </h3>
    
            </li>
            <br>
            <br>
            <p>
                "Tecnica en Gestion Economica Juridica contable" 
            </p>
    
        </ul>
        <br>
        <br>
        <br>
        <br>
        <ul>
            <li>
               <h3>"Ingeneria Electronica"- Facultad Regional Tucuman </h3> -<h3> (2019-Actualidad) </h3>
    
            </li>
            <br>
            <br>
            <p>
                Estudios en curso.
            </p>
    
        </ul>
    
        <br>
        <br>
        <br>
        <br>
        <ul>
            <li>
               <h3>"Tecnicatura Superior en Programacion"- Facultad Regional Tucuman </h3> -<h3> (2022-Actualidad) </h3>
    
            </li>
            <br>
            <br>
            <p>
                Estudios en curso.
            </p>
    
        </ul>

        
        <br>
        <br>
        <br>
        <br>
        <ul>
            <li>
               <h3>"Programador Junior"- Beca Fundacion Leon </h3> -<h3> (2022-Actualidad) </h3>
    
            </li>
            <br>
            <br>
            <p>
                Estudios en curso.
            </p>
    
        </ul>

        <br>
        <br>
        <br>
        <br>
        <ul>
            <li>
               <h3>"Programador Web Full stack Junior"- Beca Argentina Programa</h3> -<h3> (2022-Actualidad) </h3>
    
            </li>
            <br>
            <br>
            <p>
                Estudios en curso.
            </p>
    
        </ul>
    
    
    </div>
    
    