<div class="row">
    <h2>PROYECTOS REALIZADOS</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1"> <h4> PROGRAMA PARA ADMINISTRAR TICKETS DE TEATRO </h4>
            <p> Este es un proyecto grupal en el cual estamos trabajando con mis compañeros de la beca "Futuros Programadores" de Fundacion Leon, es para la administración de tickets del Teatro "Orestes Caviglia" de San Miguel de Tucuman. La codificación sera en C#, utilizando Windows Form.</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyectteatro.jfif" class="img-fluid img-proyecto">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1"> <br> <br> <br> <h4> PORTFOLIO PERSONAL </h4>
            <p> Este es un proyecto individual, el cual estoy realizando para la finalizacion del curso "Programador Web Full Stack Jr. " de la beca Argentina Programa , estoy aplicando los conocimientos adquiridos en el curso, como son: HTML , Javascritps, Base de Datos SQL, implementacion  framework para aplicaciones web, etc.</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proeyectoporta.png" class="img-fluid img-proyecto2">
        </div>
    </div>

</div>
