<div class="row">
   
<h2>
    EXPERIENCIA LABORAL
</h2>

<div class="col-lg-1" ></div>


<div class="col-lg-11" ></div>

<br>
<br>
<br>
<br>
   
    <ul>
        <li>
           <h3>Estudio de Abogados Andreossi - Recepcionista -  </h3> -<h3> (2011-2012) </h3>

        </li>
        <br>
        <br>
        <p>
            Atención telefónica, Gestión de correspondencia, Presentación de documentos legales, la bienvenida a los clientes, Redaccion de cartas, envio emails.
        </p>

    </ul>
    <br>
    <br>
    <br>
    <br>
    <ul>
        <li>
           <h3>Teleperformance- Atencion al cliente via Redes Sociales </h3> -<h3> (2017-2022) </h3>

        </li>
        <br>
        <br>
        <p>
            Atencion al cliente en general, Soporte Tecnico, y Gestiones Administrativas.
        </p>

    </ul>


</div>

