
    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotodeperfil">

        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> Arancibia Sofia Marine </p>
            <p> FULL STACK DEVELOPER JR </p>

        </div >
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <span>
                    <h1>Acerca de mi</h1>
                    <p>Soy una persona responsable, proactiva y con actitud emprendedora. Soy una apasionada por la tecnología y estoy motivada a seguir incrementando mis conocimientos para volverme un experta. </p>
                </span>
            </div>
            
    </div>
    

