
    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotodeperfil">

        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre"> Arancibia Sofia Marine </p>
            <p> FULL STACK DEVELOPER JR </p>

        </div >
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <span>
                    <h1>Acerca de mi</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam consequatur, distinctio ea fugit totam ducimus a veniam error, ipsa mollitia saepe exercitationem corporis? Incidunt, reprehenderit! Minus dolorum odio quos mollitia?</p>
                </span>
            </div>
    </div>


